<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753555518359-575tdfqudad7plb9va3h9robsf4dekqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753555518359-575tdfqudad7plb9va3h9robsf4dekqj</string>
	<key>API_KEY</key>
	<string>AIzaSyDp1LHm6djVZFI6GO6jgva7_CgsCOZgTrY</string>
	<key>GCM_SENDER_ID</key>
	<string>753555518359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTodoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-f9912</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-f9912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753555518359:ios:5800d87934b09bd919cad2</string>
</dict>
</plist>